<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yaoqianshurukou_star.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_biaoti.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_qianjing.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>145</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_qianjing_h.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_beijing.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_beijing_h.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_shu.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_beiguang.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>641</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaoqianshurukou_dikuang.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>700</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Yaoqianshu_Action_Enter_Animation0.png</string>
			<key>realTextureFileName</key>
			<string>Yaoqianshu_Action_Enter_Animation0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>