<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_liaotian_huihuajilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,404},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bg_tongyongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{308,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,204}}</string>
                <key>sourceSize</key>
                <string>{308,204}</string>
            </dict>
            <key>bg_toumingditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{338,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,269}}</string>
                <key>sourceSize</key>
                <string>{338,269}</string>
            </dict>
            <key>btn_gongyongchangguiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,411},{185,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,67}}</string>
                <key>sourceSize</key>
                <string>{185,67}</string>
            </dict>
            <key>btn_item_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,403},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_paizhuo_liaoian_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,342},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>btn_paizhuo_liaoian_labaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,342},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>btn_tichupaizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,342},{185,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,67}}</string>
                <key>sourceSize</key>
                <string>{185,67}</string>
            </dict>
            <key>ic_wenxintishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>table2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,248},{237,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,80}}</string>
                <key>sourceSize</key>
                <string>{237,82}</string>
            </dict>
            <key>ui_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,454},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ui_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,454},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ui_quxiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,248},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ui_xuanchangfangjiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,244}}</string>
                <key>sourceSize</key>
                <string>{443,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>co_desk.png</string>
            <key>size</key>
            <string>{718,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b9aa27ca71fe52b7af243f22c62de3$</string>
            <key>textureFileName</key>
            <string>co_desk.png</string>
        </dict>
    </dict>
</plist>
