<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_tichupaizhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>btn_zuoceanniudi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,56}}</string>
                <key>sourceSize</key>
                <string>{149,56}</string>
            </dict>
            <key>ic_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>ic_paixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>ic_pangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>ic_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>ic_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>ic_xiajupangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>ic_xitongtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>ui_duigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,39},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk_leftmenu.png</string>
            <key>size</key>
            <string>{892,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34fd26b90335b44533b8914ad8878ba2$</string>
            <key>textureFileName</key>
            <string>desk_leftmenu.png</string>
        </dict>
    </dict>
</plist>
