<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bisai_paizhuobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,238},{263,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,84}}</string>
                <key>sourceSize</key>
                <string>{263,84}</string>
            </dict>
            <key>bg_paizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{568,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,640}}</string>
                <key>sourceSize</key>
                <string>{568,640}</string>
            </dict>
            <key>btn_bisai_liuzaipaizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
            <key>btn_bisai_paizhuo_canjiabisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,211},{149,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,25}}</string>
                <key>sourceSize</key>
                <string>{151,27}</string>
            </dict>
            <key>btn_bisai_paizhuo_danmu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,771},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>btn_bisai_paizhuo_danmu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,863},{74,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,42}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>btn_bisai_paizhuo_fayan.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,182},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>btn_bisai_paizhuo_goumaichouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,564},{110,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,96}}</string>
                <key>sourceSize</key>
                <string>{110,96}</string>
            </dict>
            <key>btn_bisai_paizhuo_kuaisucansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,462},{110,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>btn_bisai_paizhuo_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,963},{67,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{67,46}</string>
            </dict>
            <key>btn_bisai_tuichupaizhuodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,431},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>btn_gongyongchangguiniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,73},{203,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,69}}</string>
                <key>sourceSize</key>
                <string>{203,69}</string>
            </dict>
            <key>btn_gongyongchangguiniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{203,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,69}}</string>
                <key>sourceSize</key>
                <string>{203,69}</string>
            </dict>
            <key>btn_gongyonghongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,144},{202,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,65}}</string>
                <key>sourceSize</key>
                <string>{202,65}</string>
            </dict>
            <key>btn_hall_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,126},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>btn_kuaijieliaotian_biaoqingdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,625},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>btn_kuaijieliaotian_duanyudikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,324},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>btn_tongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,771},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>btn_tongyongfangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>btn_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,398},{140,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,68}}</string>
                <key>sourceSize</key>
                <string>{140,68}</string>
            </dict>
            <key>btn_zhankaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,473},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>ic_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,963},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>ic_gendaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,421},{111,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>ic_geng.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,921},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>ic_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,729},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>ic_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,738},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>ic_jiajinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,297},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>ic_jiazhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,725},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>ic_k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,738},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>ic_paizhuo_daojishifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,847},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>ic_paizhuo_tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,324},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>ic_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,683},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>ic_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,582},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
            <key>ic_zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,921},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>pic_gonggaolan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{700,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,33}}</string>
                <key>sourceSize</key>
                <string>{700,33}</string>
            </dict>
            <key>ui_bisai_paizhuo_dishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,471},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>ui_bisai_paizhuo_jishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,959},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>ui_bisai_paizhuo_kebidishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,771},{71,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,18}}</string>
                <key>sourceSize</key>
                <string>{71,18}</string>
            </dict>
            <key>ui_bisai_paizhuo_shoushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,959},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>ui_bisai_shengli_tanchukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{761,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,101}}</string>
                <key>sourceSize</key>
                <string>{761,101}</string>
            </dict>
            <key>ui_danzhulunshuheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,737},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>ui_dibiantyouming.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,508},{30,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,87}}</string>
                <key>sourceSize</key>
                <string>{30,87}</string>
            </dict>
            <key>ui_duigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>ui_geshudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,997},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui_gonggaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,710},{415,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,25}}</string>
                <key>sourceSize</key>
                <string>{415,25}</string>
            </dict>
            <key>ui_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,738},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>ui_icon_BG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ui_icon_BG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,535},{145,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,96}}</string>
                <key>sourceSize</key>
                <string>{145,96}</string>
            </dict>
            <key>ui_jingbidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,597},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ui_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,105},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>ui_libaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,633},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ui_libaowenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{122,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{122,52}</string>
            </dict>
            <key>ui_paizhuo_danzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,738},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>ui_paizhuo_daojishibeiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ui_paizhuo_daojishidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,683},{95,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,28}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>ui_paizhuo_daojishilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,140},{54,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>ui_paizhuo_dianchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,431},{38,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,17}}</string>
                <key>sourceSize</key>
                <string>{38,17}</string>
            </dict>
            <key>ui_paizhuo_dianchidianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,397},{30,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,11}}</string>
                <key>sourceSize</key>
                <string>{30,11}</string>
            </dict>
            <key>ui_paizhuo_fengedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,173},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>ui_paizhuo_jindudiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,429},{110,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,4}}</string>
                <key>sourceSize</key>
                <string>{110,4}</string>
            </dict>
            <key>ui_paizhuo_lunshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,939},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>ui_paizhuo_tequan_wenzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,698},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>ui_quanya.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,641},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>ui_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,173},{122,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,113}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>ui_xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,211},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ui_xiaokuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,211},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ui_xiazhudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,662},{104,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,19}}</string>
                <key>sourceSize</key>
                <string>{104,19}</string>
            </dict>
            <key>ui_yaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,540},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>ui_zhongxiazhuheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,397},{180,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,32}}</string>
                <key>sourceSize</key>
                <string>{180,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616a4ee165d799eb625f6c14230eb2c4$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
