<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desk_card_blackvalue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,210},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,188},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,144},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,222},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,194},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,222},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{18,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,194},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,204},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,114},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_blackvalue_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,176},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,148},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,86},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,116},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,116},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,172},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,166},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,144},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,30},{18,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,144},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,58},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,84},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_redvalue_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>desk_card_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,44},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,44},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,162},{68,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>desk_poker_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,158}}</string>
                <key>sourceSize</key>
                <string>{128,158}</string>
            </dict>
            <key>desk_pokerback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{68,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_cards.png</string>
            <key>size</key>
            <string>{252,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51ebaba8f1a73ac2f851fb737de9ef54$</string>
            <key>textureFileName</key>
            <string>poker_cards.png</string>
        </dict>
    </dict>
</plist>
