<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desk_coin_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{76,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_100w.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>desk_coin_bg_10w.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,80},{109,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{109,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_1h.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,442},{70,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,73}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,442},{72,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,73}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,516},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_200w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>desk_coin_bg_20w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_2h.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,515},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_2k.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,300},{105,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{105,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_500w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,71}}</string>
                <key>sourceSize</key>
                <string>{142,71}</string>
            </dict>
            <key>desk_coin_bg_50w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,228},{105,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_5h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>desk_coin_bg_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,372},{105,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{105,68}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>desk_coin_bg_5w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{111,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{111,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table_chips.png</string>
            <key>size</key>
            <string>{231,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9924e4089dcd601f2c8c8c72a88d30d$</string>
            <key>textureFileName</key>
            <string>table_chips.png</string>
        </dict>
    </dict>
</plist>
